@import 'src/assets/scss/vars';

.root {
  margin: -$spacer;
}

.formControl {
  min-width: 150px;
}

.formContainer {
  margin: $spacer;
  padding-bottom: $spacer * 2;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: $spacer $spacer / 2;
}

.title {
  color: $font-color;
}

.orderItemsRoot {
  color: $font-color;
  margin: $spacer * 3 0;
}

.totalPrice {
  color: $font-color;
}
