@import 'src/assets/scss/vars';

.root {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px 2 * $spacer 0 2 * $spacer;
  height: 100%;
}

.contentWrapper {
  width: 1024px;
}
